@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
  background-color: #FEFEF6;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #FEFEF6;
}

::-webkit-scrollbar-thumb {
  background: #EAA800;
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFD976;
}