@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    background-color: #FFFEF7;
}

.navbar {
    background-color: #FCFAEE;
    width: 100%;
    height: 90px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links li {
    list-style: none;
}

.navbar .links a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-style: italic;
}

.navbar .links a:hover {
    color: red;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

header {
    position: relative;
    padding: 0 2rem;
}

/* Nav Drop Down */
.navDropDown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navDropDown.open {
    height: 240px;
}

.navDropDown li {
    list-style: none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border-radius: 0.25rem;
    --bg-opacity: 1;
    background-color: #FCFAEE;
    --border-opacity: 1;
    border-color: #edf2f7;
    border-color: rgba(237, 242, 247, var(--border-opacity));
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    position: relative;
  }

  .badge{
    position: absolute;
    top: 0;
    margin-left: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    --bg-opacity: 0.7;
    background-color: #edaeae;
    background-color: rgba(237,174,174, var(--bg-opacity));
    --text-opacity: 1;
    color: #888883;
    color: rgba(136, 136, 131, var(--text-opacity));
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 9999px;
  }

@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .navDropDown {
        display: block;
    }
}

@media (max-width: 576px) {
    .navDropDown {
        left: 2rem;
        width: unset;
    }
}